pytest==7.4.3
requests==2.32.3
types-requests==2.32.0.20250306
coverage==7.6.1
twine==6.1.0
wheel==0.40.0
build==1.2.2.post1
bottle==0.13.2
pytest-timeout==2.3.1
mypy==1.14.1
ruff==0.9.9
mutmut==3.2.3
